<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a href="https://zenbox.ai" target="_blank" class="logo">zenbox</a></p>
        <p>Build your talking device with ease</p>
      </div>
      <div class="col-md-8">
        <p>Contact us via <i class="fa fa-envelope"></i> <a href="mailto:contact@zenbox.ai">contact@zenbox.ai</a></p>
        <p>Made by <a href="http://just-ai.com" target="_blank">Just AI</a> in 2017</p>
        <!--<ul class="list-unstyled list-inline">-->
        <!--<li><a href="#">Tutorials</a></li>-->
        <!--<li><a href="#">Documentation</a></li>-->
        <!--<li><a href="#">Pricing</a></li>-->
        <!--<li><a href="#">About</a></li>-->
        <!--<li><a href="#">Contact</a></li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</footer>