---
layout: page
title: Skills Guide
permalink: /skills/
---

{% include header.html color="#283e4b" img="/img/box.png" title="Skills Guide" summary="This guide contains a description of supported Zenbox voice skills" %}

<p>Each skill is a voice feature for your project.
Zenbox provides a set of ready-to-use voice skills that can be enabled in two clicks of mouse.
</p>

<p>Each skill has a pricing and a list of sample phrases that can be used with this skill.
Some skills require additional parameters to be provided before the skill can be enabled.
As well as some integration requirements.
</p>

<p>Below is a set of currently supported voice skills and their descriptions.</p>

<div class="row">
    {% include skill.html id="currencyConverter" color="#005f59" title="Currency converter" summary="Converts currency" %}
    {% include skill.html id="geographyGame" color="#216778" title="Geography game" summary="Improves your knowledge about countries and continents" %}
    {% include skill.html id="deezerKids" color="#550022" title="Deezer music for kids" summary="Music for kids" %}
    {% include skill.html id="deezer" color="#000000" title="Deezer music" summary="Your favorite music" %}
    {% include skill.html id="oddWordGame" color="#2ca05a" title="Odd one out game" summary="Teaches logic" %}
    {% include skill.html id="news" color="#aa4400" title="News" summary="Everything important" %}
    {% include skill.html id="weather" color="#2c89a0" title="Openweathermap weather" summary="Information about the weather" %}
    {% include skill.html id="radio" color="#a02c2c" title="Dirble radio" summary="Finds and turns on the radio stations" %}
    {% include skill.html id="wiki" color="#1a1a1a" title="Wikipedia" summary="Knows about famous people and facts" %}
    {% include skill.html id="jokes" color="#3e3748" title="Kids Jokes" summary="Fun for kids and adults" %}
    {% include skill.html id="wolphram" color="#c82500" title="Wolfram|Alpha" summary="Calculates answers through a Wolfram|Alpha API" %}
    {% include skill.html id="stocks" color="#438d77" title="Stock Market" summary="Information about the stock market" %}
    {% include skill.html id="battery" color="#967d7d" title="Battery control" summary="Shows battery status of the device" %}
    {% include skill.html id="mathGame" color="#800000" title="Math game" summary="Entertainment and mental math" %}
    {% include skill.html id="citiesGame" color="#225500" title="Cities (word chain) game" summary="Makes word chains from the cities' names" %}
    {% include skill.html id="calculator" color="#002255" title="Calculator" summary="Quick and efficient calculations" %}
    {% include skill.html id="sleep" color="#280b22" title="Sleep Control" summary="Helps you to control sleep mode" %}
    {% include skill.html id="reminder" color="#782121" title="Reminder" summary="Never lets you forget anything important" %}
    {% include skill.html id="smallTalk" color="#668000" title="Small Talk" summary="Talks about himself" %}
    {% include skill.html id="dateTime" color="#803300" title="Date &amp; Time" summary="Tells the time. Every time. Everywhere." %}
    {% include skill.html id="alarmTimer" color="#008066" title="Alarm &amp; Timer" summary="Wakes the user up and measures the time" %}
    {% include skill.html id="animalGame" color="#d4aa00" title="Zoo game" summary="Introduction to the world of animals" %}
    {% include skill.html id="volumeControl" color="#ff7f2a" title="Volume" summary="Helps you to control the volume" %}

</div>